:root {
    --accent-color: hsl(158, 36%, 37%);
    --container-bg: hsl(30, 38%, 92%);
    --card-bg: hsl(0, 0%, 100%);
    --hover-color: hsl(156, 42%, 18%);
    --heading-color: hsl(212, 21%, 14%);
    --category-color: hsl(228, 12%, 48%);

}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: var(--container-bg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card {
    background-color: var(--card-bg);
    max-width: 90vw;
    margin: 1.5rem;
    padding: 0;
    display: flex;
    border-radius: 1em;
    gap: 0;
    flex-direction: column;
    
    
}   

.no-margin {
    margin: 0;
}

.desktop-only {
    display: none;
}

.mobile-only {
    width: 100%;
    border-radius: 1em 1em 0 0;
}

.card-text {
    margin: 1.5rem;
}

@media (min-width: 650px) {
    .card {
        flex-direction: row;
        max-width: 600px;   
        
    }

    .card * {
        flex: 1;
    }

    .card-text {
        max-width: calc(300px - 1.5rem);
        margin-top: 1.5rem;
        margin-left: 0;
        padding-left: 1.5rem
    }

    .desktop-only {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1em 0 0 1em;
        flex-shrink: 0;
        
        }

    .mobile-only {
        display: none;
    }

    
}


.category-name {
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 0.1em;
}

.current-price {
    font-family: "Fraunces", serif;
    color: var(--accent-color);
    font-size: xx-large;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    color: var(--category-color);
    position: relative;
    bottom: 0.5em;
    margin-left: 1em;
    
}

.card h2 {
    font-family: "Fraunces", serif;
    color: var(--heading-color);
    font-size: xx-large;
}

.card p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.button-icon {
    flex-grow: 0;
}

button {
    background-color: var(--accent-color);
    border-radius: 0.5em;
    border-color: transparent;
    padding: 1em;
    width: 100%;
    color: var(--container-bg);
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    max-height: 3em;
    margin-top: 1em;
}

button:hover, button:focus {
    background-color: var(--hover-color);
}


.attribution {
     font-size: 11px; text-align: center;
 }

.attribution a {
    color: hsl(228, 45%, 44%);
}